.section-opinions {
  display: grid;
  max-width: 1200px;

  grid-template-columns: repeat(4, minmax(20rem, max-content));
  grid-template-rows: repeat(2, min-content);

  grid-gap: 2rem;

  @include respond(tablet-land) {
    padding: 5rem;
    font-size: 56.25%;

    grid-template-columns: repeat(3, minmax(20rem, max-content));
    grid-template-rows: repeat(3, min-content);
  }

  @include respond(tablet) {
    font-size: 56.25%;

    grid-template-columns: repeat(2, minmax(15rem, max-content));
  }

  @include respond(phone) {
    grid-template-columns: repeat(1, 1fr);
  }
}
